<%- include ../../layouts/header.ejs %>
   
    <div class="page-container">
         <div class="row">
      <div class="col-md-11">
         <div style="border:1px solid #ddd;min-height:60px;padding:12px">                      
           <div class="col-md-11">
			  <!-- BEGIN SEARCH FORM -->
              <form class="form-inline" role="form"> 
                  <div class="form-group"> Filter By : 
                    <select id="sort-by" class="form-control">
                        <option value="">-</option>
                        <option value="id" <%= (curr_filt=='id') ? "selected=false" : "" %> >id</option>
                        <option value="groupName" <%= (curr_filt=='groupName') ? "selected=false" : "" %>>perfil</option>
                    </select>
                  </div>
                  <div class="form-group">
                     <input type="text" id="search-field" class="form-control" placeholder="Search..." value="<%= curr_search %>">
                  </div>                     
                  <a id="go-search" class="btn btn-default btn-warning"><i class="fa fa-search"></i></a>                      
                   <div class="form-group pull-right">
                       <a href="javascript:void(0)" class="btn btn-success" data-toggle="modal" data-target="#modal-window"><i class="fa fa-plus"></i>Add</a>
                   </div>
               </form>
			   <!-- END SEARCH FORM -->
           </div>
         </div>
     </div>
    </div><!-- /.row -->       
       <div class="row">
            <div class="col-xs-11 col-sm-6 col-md-11">               
                <div class="table-responsive" style="margin-top:5px">


                        <table class="table table-bordered table-hover">
                        <!-- render headers columns-->
                        <thead>
                            <tr>
                                <th colspan="4">Examples calls to APIS GET method and JSON objects</th>
                            </tr>
                            <tr>
                                <th>API</th>
                                <th>Call</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr>
                        		<td>API's method GET put this in your browser -> http://127.0.0.1:3720/apis/detail?idQuery=2</td>
                        		<td><a href="/apis/detail?idQuery=1">API get</a></td>
                        	</tr>
                        	<tr>
                				<td>API's method GET return a JSON put this in your browser -> /apis/detailJSON?idQuery=1</td>
		                		<td> <a href="/apis/detailJSON?idQuery=1">API JSON</a> </td>
                        	</tr>                        
                        </tbody>

						<!-- ROW -->                	
                        <table class="table table-bordered table-hover">
                        <!-- render headers columns-->
                        <thead>
                            <tr>
                                <th colspan="4">Master rows rendered by Node.js server</th>
                            </tr>
                            <tr>
                                <th>No</th>
                                <th>Id</th>
                                <th>Groups</th>
                                <th>Actions calls</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- render rows with javaScript in client.-->
                            <% if(data.length){ 
                                 var no = (curr_page -1 ) * 10 + 1;                                 
                                 for(var i = 0;i < data.length;i++) { %>                                 
                                <tr>
                                    <td><%=no%></td>
                                    <td><%=data[i].id%></td>
                                    <td><%=data[i].groupName %></td>
                                    <td>
                                        <a href="javascript:void(0)" onclick="detailsGET(<%=data[i].id%>)">
                                            Details with GET API in a iframe --> 
                                        </a>
                                        <br>
                                        <a href="javascript:void(0)" onclick="detailsGetServer(<%=data[i].id%>)">
                                            Details redered by server -->
                                        </a>                                        
                                        
                                    </td>
                                </tr>
                            <% no++; }	                            
                             }else{ %>
                                 <tr>
                                    <td colspan="3">No rows</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>

                        <table class="table table-bordered table-hover">
                        <!-- render headers columns-->
                        <thead>
                            <tr>
                                <th colspan="3">Details rows rendered by Node.js server</th>
                            </tr>
                            <tr>
                                <th>Id</th>
                                <th>Module</th>
                                <th>Url</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!--nder rows with javaScript in client.-->
                            <% if(dataDetails.length){ 
                                 for(var i = 0;i < dataDetails.length;i++) { %>                                 
                                <tr>
                                    <td><%=dataDetails[i].module_id%></td>
                                    <td><%=dataDetails[i].moduleName %></td>
                                    <td><%=dataDetails[i].urlModule %></td>
                                </tr>
                                 <% }
                            
                             }else{ %>
                                 <tr>
                                    <td colspan="3">No rows</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>


                   <table class="table table-bordered table-hover">
                        <!-- render headers columns-->
                        <thead>
                            <tr>
                                <th>Rendered in a iframe with client's JQUERY Javascript</th>
                            </tr>
                        </thead>
                        <tbody>
							<tr>
<!--                                <td><iframe id="detailsMarco" width="100%" frameborder="0" scrolling="yes"></iframe></td>-->
                               <td><iframe id="detailsMarco" width="100%" frameborder="0" scrolling="yes"></iframe></td>
		                    </tr>

                        </tbody>
                    </table>


                </div>
                <%- pagination %>
            </div>
        </div>      
        <!--Modal-->            
    </div> <!--end of page container-->
 <!-- --------------------------------------------------------------- -->
 </div>   <!-- /#page-wrapper -->
    </div> <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
	<!-- por cada modulo agrega las funciones para validacion del cliente-->
    <script src="../js/apis_clientScripts.js"></script>  
<!-- --------------------------------------------------------------- -->  
<%- include ../../layouts/footer.ejs %>
