<%- include ../../layouts/header.ejs %>
   
    <div class="page-container">
         <div class="row">
      <div class="col-md-11">
         <div style="border:1px solid #ddd;min-height:60px;padding:12px">                      
           <div class="col-md-11">
			  <!-- BEGIN SEARCH FORM -->
              <form class="form-inline" role="form"> 
                  <div class="form-group"> Filter By : 
                    <select id="sort-by" class="form-control">
                        <option value="">-</option>
                        <option value="id" <%= (curr_filt=='id') ? "selected=false" : "" %> >id</option>
                        <option value="groupName" <%= (curr_filt=='groupName') ? "selected=false" : "" %>>perfil</option>
                    </select>
                  </div>
                  <div class="form-group">
                     <input type="text" id="search-field" class="form-control" placeholder="Search..." value="<%= curr_search %>">
                  </div>                     
                  <a id="go-search" class="btn btn-default btn-warning"><i class="fa fa-search"></i></a>                      
               </form>
			   <!-- END SEARCH FORM -->
           </div>
         </div>
     </div>
    </div><!-- /.row -->       
       <div class="row">
            <div class="col-xs-11 col-sm-6 col-md-11">               
                <div class="table-responsive" style="margin-top:5px">
                        <table class="table table-bordered table-hover">
                        <!-- render headers columns-->
                        <thead>
                            <tr>
                                <th colspan="4">Master rows</th>
                            </tr>
                            <tr>
                                <th>No</th>
                                <th>Id</th>
                                <th>Groups</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- render rows with javaScript in client.-->
                            <% if(data.length){ 
                                 var no = (curr_page -1 ) * 10 + 1;                                 
                                 for(var i = 0;i < data.length;i++) { %>                                 
                                <tr>
                                    <td><%=no%></td>
                                    <td><%=data[i].id%></td>
                                    <td><%=data[i].groupName %></td>
                                    <td>
                                        <a href="javascript:void(0)" onclick="detailsGetServer(<%=data[i].id%>)">
                                            <i class="fa fa-search"></i> Details
                                        </a>                                        
                                        
                                    </td>
                                </tr>
                            <% no++; }
	                            
                             }else{ %>
                                 <tr>
                                    <td colspan="3">No rows</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>
         			<div style="border:1px solid #ddd;min-height:60px;padding:12px">
                        <div class="form-group">
         				<p>Add MODULES for GROUP  
         					<% var userDetail=" ";
         						var idDetail=0;
         						if(data.length){
         							userDetail=data[0].groupName;
         							idDetail=data[0].id;
         						}; 
         					%> 
         					<%= userDetail %> with ID <%= idDetail %>
         				</p>
         				</div>         				                            
                            <a id="addDetail" href="javascript:void(0)" class="btn btn-success" data-detail="<%=idDetail%>"><i class="fa fa-plus"></i> Add Detail </a>         		         		
         			</div>
					<!----- BEGIN DETAILS ---->
                        <table class="table table-bordered table-hover">
                        <!-- render headers columns-->
                        <thead>
                            <tr>
                                <th colspan="4">Details rows</th>                                                   
                            </tr>
                            <tr>
                                <th>No</th>
                                <th>Module</th>
                                <th>Url</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!--nder rows with javaScript in client.-->
                            <% if(dataDetails.length){ 
                                 for(var i = 0;i < dataDetails.length;i++) { %>                                 
                                <tr>
                                    <td><%=dataDetails[i].module_id%></td>
                                    <td><%=dataDetails[i].moduleName %></td>
                                    <td><%=dataDetails[i].urlModule %></td>
                                    <td><a href="javascript:void(0)" onclick="deleteDetails(<%=dataDetails[i].group_id%>,<%=dataDetails[i].module_id%>)"><i class="fa fa-times"></i> Delete </a></td>
                                </tr>
                                 <% }
                            
                             }else{ %>
                                 <tr>
                                    <td colspan="3">No rows</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>

                </div>
                <%- pagination %>
            </div>
        </div>      
        <!--Modal-->
        <%- include modal_index.ejs %>              
    </div> <!--end of page container-->
 <!-- --------------------------------------------------------------- -->
 </div>   <!-- /#page-wrapper -->
    </div> <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
	<!-- por cada modulo agrega las funciones para validacion del cliente-->
    <script src="../js/groupsModules_clientScripts.js"></script>  
<!-- --------------------------------------------------------------- -->  
<%- include ../../layouts/footer.ejs %>
